.wrapper{
    float: left;
    padding-top:50px;padding-left: 300px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 2px;

}
.heading{
    padding-top: 20px;
    padding-left: 500px;
    align-content: center;
}
.main{  
    height:500px;
    width: 1349px;

}
.top{
    background-color: cadetblue;
}
.original{
    padding-left: 100px;
    float: left;
    padding-top: 50px;
}
.msg{
    padding-top: 400px;
    padding-left: 450px;
    padding-bottom: 30px;
    filter: blur(0px)
}