/* /* .flip-box{
    float: left;
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}
.flip-box-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner{
    transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back{
    position: absolute;
    width: 100%;
    height:100%;
    backface-visibility: hidden;
}
.flip-box-front{
    background-color: #bbb;
    color: black;
}
.flip-box-back{
    background-color: dodgerblue;
    color:white;
    transform: rotateY(180deg);
}
 */

/* ============================================================================ */

/* .f1_container {
    position: relative;
    margin:10px;
    width: 200px;
    height: 150px;
    z-index : 1;
    float:left;
}
.f1_container {
    -webkit-perspective: 1000;
    perspective: 1000;
}
.f1_card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 1.0s linear;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}
.f1_container:hover .f1_card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.face.back {
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-sizing: border-box;
    color: white;
    text-align: center;
    background-color: #aaa;
}
body{width:2000px} */


body 
{  
    background: #F17563;  
    font-family: Open Sans;  
    font-size: 50px;  
    color: #222;
}
label 
{ 
     margin-left: 20px; 
     margin-top: 20px;  
     -webkit-perspective: 1000px;  
     perspective: 1000px;  
     -webkit-transform-style: preserve-3d;  
     transform-style: preserve-3d;  
     display: inline-block;  
     width: 200px;  
     height: 250px; 
      left: 50%;  
      top: 50%;  
      -webkit-transform: translate(0%, 0%); 
       transform: translate(0%, 0%);  
       cursor: pointer; 
    }
    .card { 
         position: relative;  
         text-align:center; 
          height: 100%; 
         width: 100%;
         -webkit-transform-style: preserve-3d;  
             transform-style: preserve-3d;  
             -webkit-transition: all 600ms;  
             transition: all 600ms;  
             z-index: 20;  
             float: right;
            }  
    .card div {     
         position: absolute;     
         height: 100%;     
         width: 100%;      
         background: #FFF;      
         line-height: 200px;      
         -webkit-backface-visibility: hidden;      
         backface-visibility: hidden;      
         border-radius: 2px;       
        }  
    card .back {      
        background: #222;      
        color: #FFF;      
        -webkit-transform: rotateX(180deg);      
        transform: rotateX(180deg);  
    }
    label:hover .card {  
        -webkit-transform: rotateX(20deg);  
        transform: rotateX(20deg);  
        box-shadow: 0 20px 20px rgba(50,50,50,.2);
    }
    input {  
        display: none;
    }
    :checked + .card 
    {  
        transform: rotateX(180deg);  
        -webkit-transform: rotateX(180deg);
    }
        
  label:hover :checked + .card 
  {  
      transform: rotateX(160deg);  
      -webkit-transform: rotateX(160deg);  
      box-shadow: 0 20px 20px rgba(255,255,255,.2);
    }

